body {
    font-family: 'Times New Roman', Times, serif;
}

li {
    list-style: none;
    float: left;
    padding: 33px 20px;
}
.header {
    background-color: dimgray;
    height: 90px;
}
.header-logo {
    color: rgb(224, 224, 224);
    font-size: 36px;
    float: left;
    padding: 20px 40px;
}
.header-list li{
    color: rgb(224, 224, 224);
    float: left;
    padding: 33px 20px;
}
.main {
    background-color: rgb(189, 183, 183);
    height: 600px;
}
.footer {
    background-color: gray;
    height: 120px;
}
.footer-logo{
    color: rgb(255, 0, 0);
    font-size: 30px;
    float: right;
    padding: 40px 30px;
}
.footer-list{
    float: right;
}